.home{
  position: relative;
  margin:0;
  display: block;
  width:100vw;
}

// 
// .home-collection{
//   width:100%;
//   .home-collection-ul{
//     display: block;
//     width:90%;
//     margin:auto;
//     .home-collection-li{
//       display: block;
//       clear: both;
//       width:100%;
//       margin-bottom: 100px;
//       &:nth-child(1){
//         margin-top:100px;
//       }
//       .home-collection-img{
//         display: block;
//         width:40%;
//         margin:auto;
//
//
//       }
//     }
//   }
// }
